<body>
  <header class=" flex header">
    <h1>Лабораторна робота №10</h1>
    <h2>Виконав: Нестеренко Дмитро Дмитрович</h2>
  </header>
  <main class="flex main">
    <h2>Завдання лабороторної роботи</h2>
    <p class="main_text">
      Необхідно написати проект на фремворку Angular, який
визначає потрапляння крапки на координатній площині в задану область чи ні
відповідно до варіанту завдань, і вміщує HTML-сторінку, яка формує дані для
відправки їх на обробку</p>
    <div class="img_cont">
      <img src="assets/images/graph.png" alt="">
    </div>
    <app-my-component></app-my-component>
  </main>
</body>
