@font-face {
    font-family: "Playfair";
    src: url(../font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url(../font/Inter/Inter-VariableFont_slnt,wght.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Muli";
    src: url(../font/Mulish/Mulish-VariableFont_wght.ttf);
    font-weight: 700;
    font-style: normal;
}

.header {
    padding-top: 2.69vw;
}

.p-header {
    font-family: Inter;
    color: #B8BECD;
    margin-bottom: 0px;
}

.body {
    width: 100vw;
}

.explore-block {
    padding-top: 5vw;
}

.text-1, .text-3, .text-5, .text-7 {
    font-family: "Playfair";
    font-style: normal;
    font-weight: 700;
}

.text-2, .text-4, .text-6, .text-8, .text-9, .text-10, .text-11, .text-12, .text-13 {
    font-family: "Inter";
    font-style: normal;
}

.line-1 {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-size: 300;
    font-weight: 200;
    color: #202336;
}

.way-block {
    padding-top: 16.87vw;
}

.text-4 {
    font-family: "Muli";
    font-style: normal;
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
    color: #7D7987;
}

.destinations-block {
    padding-top: 18.25vw;
}

.guides-block {
    padding-top: 14.44vw;
}

.testimonials-block {
    padding-top: 15.5vw;
}

.text-10 {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
}

.trending-block {
    padding-top: 17.81vw;
}

.footer {
    width: 100vw;
    padding-top: 12vw;
}

.text-14, .text-15 {
    line-height: 28px;
}

.text-16 {
    line-height: 38px;
}

a:link {
    color: #848484;
    text-decoration: none;
}


.org {
    --bs-btn-font-weight: 500;
    --bs-btn-line-height: 44px;
    --bs-btn-font-family: Inter;
    --bs-btn-color: orange;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: orange;
    --bs-btn-padding-x: 46px;
    --bs-btn-padding-y: 0px;
    --bs-btn-hover-border-color: orange;
    --bs-btn-hover-color: orange;
    --bs-btn-border-radius: 5px;
}


.dr{
    --bs-btn-font-weight: 400;
    --bs-btn-font-size: 15px;
    --bs-btn-line-height: 44px;
    --bs-btn-font-family: Inter;
    --bs-btn-color: #4A4C53;
    --bs-btn-bg: transparent;
    --bs-btn-border-color:#AFB0B9;
    --bs-btn-padding-x: 45px;
    --bs-btn-padding-y: 0px;
    --bs-btn-border-radius: 5px;
    --bs-btn-disabled-border-color: #AFB0B9;
    --bs-btn-hover-border-color: #AFB0B9;
}

.bbb{
    --bs-btn-font-weight: 400;
    --bs-btn-font-size: 15px;
    --bs-btn-line-height: 44px;
    --bs-btn-font-family: Inter;
    --bs-btn-color: #4A4C53;
    --bs-btn-bg: transparent;
    --bs-btn-border-color:#AFB0B9;
    --bs-btn-padding-x: 31px;
    --bs-btn-padding-y: 0px;
    --bs-btn-border-radius: 5px;
    --bs-btn-disabled-border-color: #AFB0B9;
    --bs-btn-hover-border-color: #AFB0B9;
}