@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: 'Playfair Display', serif;
    margin-left: 80px;
    margin-right: 105px;
}
.header{
    width: 1415px;
    height: 786px;
}

.main_menu {
    display: flex; /* Устанавливаем flexbox */
    justify-content: flex-end; /* Размещаем элементы в конце (справа) */
}

.menu_item {
    margin-right: 10px; /* Расстояние между пунктами меню */
}
.main_menu a{
    text-decoration: none;
}
/* Стили для кнопок "Login" и "Register" */
.bright_but {
    display: inline-block;
    background-color: #ff6600; /* Цвет фона */
    padding: 5px 10px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Скругление углов */
    color: #fff; /* Цвет текста */
}
.box_title h1{
    color: #202336;
    font-family: Playfair Display;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; 
}
.side_picture{
    width: 687px;
    height: 654px;
    float: right; /* Перемещаем блок вправо */
    margin-left: 20px;
}


.first_main_sect,.sec_main_sect {
    display: flex; /* Используем flexbox для размещения элементов в ряд */
    width: 100%; /* Устанавливаем ширину на 100% */
    padding: 0; /* Убираем внутренние отступы */
    box-sizing: border-box; /* Учитываем границы и отступы в общей ширине */
}

.image_container {
    flex: 1; /* Размер изображения занимает 1/3 ширины секции */
}

.image_container img {
    max-width: 100%; /* Изображение не будет превышать размеры контейнера */
}

.text_content {
    flex: 2; /* Размер текстового блока занимает 2/3 ширины секции */
}

.text_content h2 {
    margin-top: 0; /* Убираем верхний отступ у заголовка */
    font-size: 36px;
}
.clear{
    clear: both;
    margin-bottom: 270px;
}

.sec_main_sect{
    margin-left: 50px;
}
.block{
    width: 480px;
}
.block1 {
    margin-right: 15px; 
}

.img_portret{
    width: 180px;
    height: auto;
}

.pats{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sizeimg {
    width: 200px; /* Ширина, которую вы хотите установить для всех изображений */
    height: 200px; /* Высота, которую вы хотите установить для всех изображений */
    overflow: hidden; /* Обрезать изображения, если они превышают установленные размеры */
}

.sizeimg img {
    width: 100%; /* Сделать изображение 100% ширины контейнера */
    height: auto; /* Автоматически масштабировать высоту для поддержки пропорций */
}

.col {
    margin-bottom: 20px; /* Добавить немного отступа между карточками */
}

h3 {
    margin-top: 10px; /* Добавить немного отступа над заголовком */
}

p, a {
    margin-bottom: 10px; /* Добавить немного отступа между текстом и ссылкой "Learn More" */
}
