:root{
    --width:1440px;
    --width-header:1440px;
    --width-menu:1440px;
    --width-main:996px;
    --width-sidebar:444px;
    --width-footer:444px;
    --font-family-base:'Bebas Neue', sans-serif;
    --height-header:167px;
    --height-menu:154px;
    --height-main:4000px;
    --height-sidebar:5000px;
    --height-footer:176px;
}