@import url(base.css);
@import url(reset.css);
.container{
    width: var(--width);
    background-color:  #420202;
    font-family: var(--font-family-base);
    height: auto;
    color: #FFF;
}
span{
    font-size: 70px;
    margin: 50px;
}
#main_header{
    font-size: 128px;
    padding: 20px;
}
.header{
    /*position: fixed;*/
    width: 1440px;
    height: 167px;
    flex-shrink: 0;
    background: #000;
    color: #FFF;
    text-align: center;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 1440px;
    height: 154px;
    flex-shrink: 0;
    background: #370404;
    text-align: center;
    font-size: 40px;
}
.menu_content{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}
.menu_content > li{
    margin: 20px;
    width: 270px;
    height: 72px;
    padding-top: 40px;
    background-color: #F00;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
.menu_content > li:hover{
    background: #5E0707;
    color: #FFF;
}


/*style of main*/
.main{
    width: 996px;
    height: auto;
    flex-shrink: 0;
    background: #420202;
}

.first_p{
    width: auto;
    margin-right: 40px;
    height: 288px;
    color: #FFF;
    text-align: right;
    line-height: normal;
    font-size: 40px;
}
.main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.second_p{
    margin-top: 40px;
    margin-left: 40px;
    font-size: 40px;
    line-height: normal;
    width: 893px;
    height: 164px;
}

.ing_top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    height: 399px;
    flex-shrink: 0;
    border: 5px solid #000;
    background-blend-mode: overlay;
    mix-blend-mode: color-dodge;
    
}
.card a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 319px;
    height: 61px;
    flex-shrink: 0;
    background-color: #F00;
    color: #FFF;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.card a:hover{
    background-color: #5D0000;
}

.sidebar{
    width: 446px;
    height: 2000px;
    flex-shrink: 0;
    background: #2E0303;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer{
    width: 100%;
    height: 140px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    background: #240000;}

.black_ad{
    width: 100%;
    height: 144px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 60px;
    background-color: #000;
    padding-top: 20px;
    margin: 30px 0 30px 0;
}

#img_pge{
    margin-top: 30px;
    background: url(image\ 3.png), lightgray 50% / cover no-repeat;
    mix-blend-mode: screen;
}

.clear{
    clear: both;
    margin-bottom: 50px;
}

.about_ri img{
    float: left;
    margin: 20px;
    padding-bottom:50px;
    padding-right: 25px;
}
.about_ri{
    margin: 80px;
}
.about_ri h1, .dates_ri h1, .sect_location h1{
    text-align: center;
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    margin: 30px;
}
.about_ri p{
    color: #FFF;
    font-family: Bebas Neue;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

.ul_dates{
    list-style: none;
    text-align: center;
    padding: 0;
}
.ul_dates li {
    color: #FFF;
    font-family: "Bebas Neue", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}
.ul_dates li a {
    text-decoration: none;
    color: #FFF;
}
.label_ri img{
    mix-blend-mode: overlay;
}

.sect_location p{
    color: #FFF;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}